@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url('../fonts/NeueHaasDisplayBold.woff2') format("woff2"),
  url('../fonts/NeueHaasDisplayBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url('../fonts/NeueHaasDisplayMediu.woff2') format("woff2"),
  url('../fonts/NeueHaasDisplayMediu.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url('../fonts/NeueHaasDisplay-Light.woff2') format("woff2"),
  url('../fonts/NeueHaasDisplay-Light.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url('../fonts/NeueHaasDisplayThin.woff2') format("woff2"),
  url('../fonts/NeueHaasDisplayThin.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Bold.woff2') format("woff2"),
  url('../fonts/Montserrat-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Medium.woff2') format("woff2"),
  url('../fonts/Montserrat-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.woff2') format("woff2"),
  url('../fonts/Montserrat-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}