.cart-counter {
  display: flex;
  align-items: center;
  border: 1px solid $gray;
  max-width: 107px;
  height: 40px;

  &__input {
    border: none;
    width: 39px;
    text-align: center;
    color: $gray;
    outline: transparent;
    user-select: none;
  }

  &__down,
  &__up {
    width: 34px;
    text-align: center;
    padding: 7px 0;
    color: $mainBlue;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
  }

  &__up {
    border-left: 1px solid $gray;
  }

  &__down {
    border-right: 1px solid $gray;
  }
}
