.header {
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &--active {
    background-color: rgb(226, 222, 222);

    .logo {
      svg {
        fill: $mainBlue !important;
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;

  .logo {
    @include r(767) {
      order: 2;
      padding-left: 75px;
      z-index: 5;
      svg {
        fill: $mainBlue !important;
      }
    }

    @include r(480) {
      padding-left: 65px;
    }

    &--home {
      svg {
        fill: $mainBlue !important;
      }
    }

    svg {
      fill: $mainGray;
      transition: fill 0.3s ease;

      @include r(480) {
        height: 14px;
      }
    }
  }

  &__list {
    display: flex;
    font-size: 15px;
    font-weight: 500;
    color: $mainBlue;
    padding-left: 80px;

    @include r(767) {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      padding-left: 0;
      padding-top: 250px;
      text-align: center;
      background-color: rgb(226, 222, 222);
      transform: translateY(-100%);
      transition: transform 0.3s ease;
    }

    &--active {
      transform: translateY(0);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include r(767) {
        margin-right: 0;
      }
    }
  }

  &__link {
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;

    @include r(992) {
      border: none;
    }

    @include r(767) {
      display: block;
      padding: 15px;
    }

    &:hover {
      border-color: $mainBlue;

      @include r(992) {
      }
    }
  }

  &__inner {
    @include r(767) {
      z-index: 5;
      order: 3;
    }

    @include r(480) {
      margin-top: -7px;
    }
  }

  &__button {
    background-color: transparent;
    padding: 0;
    border: 0;

    svg {
      fill: $mainBlue;
    }

    &:first-child {
      margin-right: 13px;
    }
  }

  &__btn-link {
    position: relative;
    display: inline-block;
    margin-right: 13px;
    transform: translateY(5px);

    svg {
      fill: $mainBlue;
    }
  }

  &__num {
    position: absolute;
    right: -2px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    font-size: 8px;
    font-weight: 500;
    background-color: $mainBlue;
    color: $mainGray;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  &__burger {
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;

    &--active {
      transform: rotate(90deg);
    }

    @include r(767) {
      position: relative;
      z-index: 5;
      display: block;
      order: 1;
    }
  }
}
