.product-card {
  max-width: 263px;
  padding-bottom: 10px;
  border-radius: 3px;
  transition: box-shadow 0.3s ease;

  @include r(480) {
    padding-bottom: 5px;
  }

  &:hover {
    box-shadow: 0 0 5px $mainBlue;

    @include r(992) {
      box-shadow: none;
    }
  }

  &--sale,
  &--new {
    .product-card__wrapper {
      position: relative;
    }

    .product-card__extra {
      position: absolute;
      top: 17px;
      left: 17px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 13px;

      @include r(480) {
        top: 10px;
        left: 10px;
        font-size: 12px;
      }
    }
  }

  &--new {
    .product-card__extra {
      color: $mainBlue;
    }
  }

  &--sale {
    .product-card__extra,
    .product-card__new-price {
      color: $hotRed;
    }

    .product-card__price {
      padding-left: 7px;
      text-decoration: line-through;
      color: $lightGray;

      @include r(992) {
        padding: 5px;
      }
    }

    .product-card__new-price {
      padding: 5px;
      font-size: 15px;

      @include r(992) {
        display: block;
        margin-bottom: -4px;
        font-size: 13px;
      }

    }
  }

  &__wrapper {
    margin-bottom: 5px;
    height: 362px;
    max-width: 263px;
    width: 100%;

    @include r(667) {
      height: auto;
      width: 100%;
    }
  }

  &__img {
    height: 100%;

    @include r(992) {
      max-width: 223px;
    }

    @include r(667) {
      height: auto;
      width: 100%;
    }
  }

  &__title,
  &__price {
    padding: 0 5px;
    text-transform: uppercase;
    font-family: $neueGrot;
    font-weight: 500;
    font-size: 15px;

    @include r(992) {
      font-size: 13px;
    }
  }

  &__price {
    color: $gray;
  }
}
