<div class="container">
<div class="sub">
    <div class="sub__text">
      <p>
        Subscribe for Anthropologie emails and hear 
        about the latest and greatest from our family of brands!
      </p>
    </div>
    <form class="form-sub">
      <label class="form-sub__label sr-only" for="email"></label>
      <input class="form-sub__input" type="email" id="email" name="email" placeholder="Email:">
      <button class="form-sub__button button" type="submit">
        subscribe
      </button>
    </form>
  </div>
</div>