.catalog-home {
  margin-bottom: 130px;
  color: $mainBlue;
  font-weight: 500;

  @include r(1200) {
    margin-bottom: 115px;
  }

  @include r(992) {
    margin-bottom: 90px;
  }

  @include r(767) {
    margin-bottom: 70px;
  }

  @include r(480) {
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 251px 328px;
    gap: 30px;
    max-width: 1100px;
    margin: auto;

    @include r(992) {
      grid-template-rows: 210px 275px;
      gap: 15px;
    }

    @include r(767) {
      grid-template-rows: 210px 210px;
    }

    @include r(667) {
      grid-template-columns: 1fr 1fr;
    }

    @include r(480) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    &:nth-child(1),
    &:nth-child(4) {
      grid-column: span 2;

      @include r(480) {
        grid-column: auto;
      }

      .catalog-home__wrapper {
        max-width: 652px;
        width: 100%;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      .catalog-home__wrapper {
        max-width: 455px;
        width: 100%;
      }
    }

    &:nth-child(1),
    &:nth-child(2) {
      .catalog-home__wrapper {
        height: 250px;

        @include r(992) {
          height: 210px;
        }
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      .catalog-home__wrapper {
        height: 328px;

        @include r(992) {
          height: 275px;
        }

        @include r(787) {
          height: 210px;
        }
      }
    }
  }

  &__wrapper {
    position: relative;

    img {
      height: 100%;
      width: 100%;

      @include r(992) {
        object-fit: cover;
      }
    }
  }

  &__descr {
    position: absolute;
    top: 10px;
    right: 25px;
  }

  &__title {
    font-size: 25px;
    display: block;
    margin-bottom: 2px;
  }

  &__link {
    font-size: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid $mainBlue;
    transition: border-color 0.3s ease, color 0.3s ease;

    &:hover {
      border-color: $hover;
      color: $hover;
    }
  }
}
